.today-forecast {
  &__available {
    color: rgb(4, 196, 224);
    font-family: 'Roboto Condensed';
    font-size: 12px;
  }

  &__items {
    @apply mt-5 gap-5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    @apply rounded  flex-col py-2 text-white justify-center;
    width: 80px;
    max-width: calc(100% + 4px);
    background-color: rgba(171, 203, 222, 0.3);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    svg {
      @apply m-auto;
      font-size: 15px;
      @media screen and (min-width: 600px) {
        font-size: 34px;
      }
    }

    &-time {
      display: block;
      margin-bottom: 10px;
      font-size: 10px;

      @media screen and (min-width: 600px) {
        font-size: 12px;
      }
    }

    &-temperature {
      @apply font-bold block;
      margin-top: 10px;
      font-size: 12px;
      @media screen and (min-width: 600px) {
        font-size: 14px;
      }
    }
  }
}
